$icomoon-font-path: "fonts" !default;

$icon-shopping_cart: "\e93a";
$icon-favorite: "\e9da";
$icon-thumb_up: "\e9e4";
$icon-thumb_down: "\e9e6";
$icon-add_circle: "\ea0a";
$icon-remove_circle_outline: "\ea0b";
$icon-close: "\ea0f";
$icon-keyboard_arrow_right: "\ea3c";
$icon-arrow_lift: "\ea50";
$icon-check_circle: "\ea54";

